<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Earth Thoughts</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%# bootstrap css %>
        <link rel="stylesheet" href="/bootstrap.min.css">
        <%# custom stylesheet %>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <%# Google fonts %>
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/77d88b063e.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><i class="far fa-images fa-lg"></i></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/earth_thoughts">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>

		<ul class="slideshow">
			<li>
                <div id="landing-caption">
                    <h1>A 5 second unskippable ad feels longer than 5 seconds to skip a 30 seconds long ad.</h1>
                </div>
            </li>
			<li>
                <div id="landing-caption">
                    <h1>Static shocks you get when touching things must be one hell of a lightning storm for the bacteria on your skin</h1>
                </div>
            </li>
			<li>
                <div id="landing-caption">
                    <h1>The average funeral costs between $7000 and $9000 so some of us can’t even afford to die at this point.</h1>
                </div>
            </li>
			<li>
                <div id="landing-caption">
                    <h1>If IKEA did clothes, would they come in panels that you had to sew together.....</h1>
                </div>
            </li>
			<li>
                <div id="landing-caption">
                    <h1>It seems counterintuitive to trust your money to someone with the job title "broker".</h1>
                </div>
            </li>
		</ul>
    </body>
</html>
