

/* CSS grid layout */
#candy-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*create 3 columns take up the same amount of space*/
    grid-template-rows: auto;
    grid-gap: 3rem;
}

/* grid item styling */

.card-text span{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    color:#003366;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
#next {
    background-color: #4CAF50;
    color: white;
  }