<% include ../partials/header %>

    <div class="zoomin" style="background-image: url(<%= earth_thoughts.url %>)">
        <div class="caption">
            <h1><%= earth_thoughts.thoughts%></h1>
        </div>
        <p class="slider" id="back">
            <a href="/earth_thoughts"><i class="fas fa-arrow-circle-left fa-3x"></i></a>
        </p>
    </div>

</body>
</html>
